**1.Write a program to print numbers from  1 to 10, but stop if the number is 5.**

In [1]:
i=0
while i<=10 :
    if i==5  :
        i += 1
        break
    print(i)
    i+=1

0
1
2
3
4

2.**Write a program to iterate through a list and stop when encountering a specific element.**

In [2]:
list = [1, 3, 5, 7, 9]

# Using for loop
for i in list:
    if i==5  :
        i += 1
        break
    print(i)

1
3

**3.Write a program to skip printing even numbers from  to 0.**

In [3]:
n = 0
while n < 10:
    n += 1
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9

**4.Write a program to print numbers from 0 to 9 using range().**

In [4]:
for i in range(10):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9

**5.Write a program to print multiplication tables from  to 5, but stop after the first table is printed for each number.**

In [5]:
for i in range(1, 3):
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()  # Add an empty line for separation

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**6.Write a program to skip printing even numbers using a while loop.**

In [6]:
n = 0
while n < 10:
    n += 1
    if n % 2 == 0:
        continue
    if n > 6:
        break
    print(n)

1
3
5